{% extends "base.html" %}

{% block metatags %} 
<meta name="robots" content="index, nofollow">
{% endblock %}

{% block breadcrumb_nav %} 
<div class="second-nav main-bg grid_61 center-item">
    <nav role="navigation">
                    <div class="menu">           
                                <a href="/{{ collection }}" class="action-button">
                                    <span class="icon icon-left icon-sml sml-lft"></span>
                                    <span class="action-text">{{ dataset_collection[0] }}</span>
                                </a>
                                       
                    </div>
    </nav>
</div>
{% endblock %}
{% block page_title_top %}
  {{ macros.pagetitle(title, path) }}
{% endblock %}

{% block content %}
{% if itemimg %}
  {{ macros.item_pageimage(itemimg, itemimgcaption) }}
{% endif %}

{{ macros.initial_para(dcdescription) }}
{{ macros.basic_para(usage) }}
{% if contentnotes %}
   <h3 class="block-title">Content Notes:</h3>
{{ macros.basic_para(contentnotes) }}
{% endif %}
<hr/>
<div id="tabbed-box_1" class="tabbed-box p-l-1col clearfix">
     <div class="text-block">
		<p class="standfirst">Due to the extreme sizes of some of the zip archives (often well in excess of 4GB), we recommend using a dedicated zip archive application, such as <a href="http://www.7-zip.org/">7-zip</a>, to open and extract these datasets.</p>
		<p>For example, the built-in zip archive handling in Microsoft Windows (ie Right-click to 'Extract Here') is not designed to handle these sizes and will throw errors, even suggesting (falsely) that the archive is corrupt.</p>
     </div>
</div>

{% if curator %}
{% endif %}

{% endblock %}

{% block endscripts %}
<script src="{{ rootoffset }}/js/doi_citation.js"></script>
{% endblock %}

{% block sidebar %}
        <aside class="rh-column grid_20 ">
                
        <div class="links-block clearfix">
            {{ macros.biblio(data) }}
			{{ macros.doi_citation(data) }}
{% if filename|length > 0 and filename[0] %}
           <div class="table-block p-l-1col vlg-bg dt-wrap p-r-1col">
             <h3 class="block-title">Download:</h3>
               <ul class="menu">
{% for fname, fsize, format, licence, llink in zfiles %}
			   {% if llink[:4] == "http" %}
			   {% set fname_short = fname.split("/")[-1] %}
		       <li><span class="med-txt"><a href="{{ fname }}">{{ fname_short }}</a></span><span class="sml-txt d-b">{{ fsize }} {{ format }} </span><strong><a href="{{ llink }}">{{ licence }}</a></strong></li>
			   {% else %}
			   <li><span class="med-txt"><a href="{{ fname }}">{{ fname }}</a></span><span class="sml-txt d-b">{{ fsize }} {{ format }} </span><strong>{{ licence }}, {{ llink }}</strong><br/></li>
			   {% endif %}
{% endfor %}
               </ul>
           </div>
{% endif %}
        <div class="table-block p-l-1col vlg-bg dt-wrap p-r-1col">
           <h4>If you have any queries about this dataset or about this website, please email <a href="mailto:digitalresearch@bl.uk">digitalresearch@bl.uk</a>.</h4></div>
        </div>
        </aside>
{% endblock %}
