{% macro initial_para(text) -%}
 <div class="text-block p-l-1col">
{% for segment in text.split("\n") %}
  {% if segment[:5] == text[:5] %}
            <p class="standfirst">{{ segment }}</p>
  {% else %}
            <p class="text-block">{{ segment }}</p>
  {% endif %}
{% endfor %}
 </div>
{%- endmacro %}

{% macro biblio(data) -%}
  <div class="table-block p-l-1col vlg-bg dt-wrap p-r-1col">
    <dl>        
        <dt>Full title<span>:&nbsp;</span></dt>              
        <dd>{{ data['title'] }}</dd>
        <dt>Dataset creator<span>:&nbsp;</span></dt>              
        <dd>{{ data['creator'] }}</dd>
        <dt>Dataset publisher(s)<span>:&nbsp;</span></dt>              
        <dd>{{ data['publisher'] }}</dd>
        <dt>Dataset date<span>:&nbsp;</span></dt>              
        <dd>{{ data['date'] }}</dd>
{% if data['contentdates'] %}
        <dt>Range of years covered<span>:&nbsp;</span></dt>              
        <dd>{{ data['contentdates'] }}</dd>
{% endif %}
{% if data['licence'] and False %}
        <dt>Licence<span>:&nbsp;</span></dt><dd>
{% for licencedata in data['licence'] %}
{{ licencedata }} - <a href="{{ data['licencelink'] }}">What can I use it for?</a>,
{% endfor %}
{% endif %}
{% if data['doi'] %}
        <dt>DOI<span>:&nbsp;</span></dt><dd>&nbsp;</dd>
        <dt><a href="https://doi.org/{{ data['doi'] }}">https://doi.org/{{ data['doi'] }}</a></dt>
{% endif %}
    </dl>             
  </div>
{%- endmacro %}

<!-- 608px x 342px --!>
{% macro item_pageimage(imgurl, caption) -%}
<div id="img-viewer-block_1" class="image-block img-viewer-block">
     
        <img src='{{ rootoffset }}/images/{{ imgurl }}'alt='{{ caption }}' >
        <span class="action-text">{{ caption }}</span>
</div>
{%- endmacro %}
{% macro pageimage(imgurl, caption, rootoffset) -%}
<div id="img-viewer-block_1" class="image-block img-viewer-block">
     
        <img src='{{ rootoffset }}/images/{{ imgurl }}'alt='{{ caption }}' >
        <span class="action-text">{{ caption }}</span>
</div>
{%- endmacro %}

{% macro snipped_pathway(text) -%}
{% if pathway %}
          <div class="subtitle p-l-1col p-t-1col">
{% for item in pathway %}
            <a class="text-link" href="/{{item}}">{{item}}</a><span> / </span>
{% endfor %}
          </div>
{% endif %}
{%- endmacro %}

{% macro pagetitle(title, pathway) -%}
<div class="main-content-block page-sub-header clearfix">
    <div class="main-content-block-inner cntr-blk grid_61 w-bg clearfix">
        <div class="text-block grid_38 p-r-2col standfirst"> 
            <h1 class="page-title">
                <span id="ctl03_commonpagetitle">{{ title }}</span>
            </h1>        
        </div>
    </div>
</div>
{%- endmacro %}

{% macro basic_para(text) -%}
<div id="tabbed-box_1" class="tabbed-box p-l-1col clearfix">
     <div class="text-block">
{% for textline in text.split("\n") %}
{{ textline }}<br/>
{% endfor %}
     </div>
</div>
{%- endmacro %}

{% macro dataset_desc(dset) -%}
<div id="tabbed-box_1" class="tabbed-box p-l-1col clearfix">
     <div class="text-block">
        <h3><a href="{{ dset['canonicalurl'] }}">{{ dset['title'] }}</a></h3>
        <p>{{ dset['dcdescription'].split("\n")[0] }}</p>
{% if dset['data']['filename'] %}
<p><a href="{{ dset['data']['filename'] }}">Download.</a> Licence:<a href="{{ dset['data']['usage terms'] }}">{{ dset['data']['licence'] }}</a></p>
{% endif %} 
{% if dset['data']['doi'] %}
<p>DOI: <a href="https://doi.org/{{ dset['data']['doi'] }}">https://doi.org/{{ dset['data']['doi'] }}</a></p>
{% endif %} 
     </div>
</div>
{%- endmacro %}

{% macro dataset_collection_desc(key, collections, boilerplate_text) -%}
<div id="tabbed-box_1" class="tabbed-box p-l-1col clearfix">
     <div class="text-block">
{% if collections[key]|length == 1 %}
        <h3><a href="/{{ key }}">{{ boilerplate_text[key][0] }}</a></h3>
        <p><strong>1 dataset.</strong></p>
		{{ boilerplate_text[key][3] }}
		
{% else %}
        <h3><a href="/{{ key }}">{{ boilerplate_text[key][0] }}</a></h3>
        <p><strong>{{ collections[key] | length }} datasets.</strong></p>
		{{ boilerplate_text[key][3] }}
{% endif %}
     </div>
</div>
{%- endmacro %}
